<!-- Content Managment Menu Dropdown Structure -->
<ul id="content_dropdown" class="dropdown-content">

    <li>
        <a href="/admin/welcomes">
            <i class="material-icons">dashboard</i>Home</a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/admin/about">
            <i class="material-icons">fingerprint</i>About Us</a>
    </li>

    <li class="divider"></li>
    <li>
        <a href="/admin/policy">
            <i class="material-icons">dehaze</i>Term & Policies</a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/admin/contact">
            <i class="material-icons">perm_phone_msg</i>Contact Us</a>
    </li>


</ul>


<!-- Content Managment Menu Dropdown Structure -->
<ul id="category_dropdown" class="dropdown-content">

    <li>
        <a href="/admin/category/main">
            <i class="material-icons">dehaze</i>Main Category</a>
    </li>

    <li>
        <a href="/admin/category/sub">
            <i class="material-icons">dehaze</i>Sub Category</a>
    </li>
    <li>
        <a href="/admin/category">
            <i class="material-icons">loyalty</i>Model Category</a>
    </li>

</ul>


<!-- Content Managment Menu Dropdown Structure -->
<ul id="product_dropdown" class="dropdown-content">

    <li>
        <a href="/admin/product-category">
            <i class="material-icons">dehaze</i>Product Category</a>
    </li>

    <li>
        <a href="/admin/products">
            <i class="material-icons">loyalty</i>Product List</a>
    </li>

</ul>


<!-- Content Managment Menu Dropdown Structure -->
<ul id="services_dropdown" class="dropdown-content">

    <li>
        <a href="/admin/service-category">
            <i class="material-icons">dehaze</i>Service Category</a>
    </li>

    <li>
        <a href="/admin/services">
            <i class="material-icons">loyalty</i>Services List</a>
    </li>

</ul>


<!-- Side-Nav Menu -->
<ul class="side-nav" id="main-menu">

    {{#if user}}

    <li>
        <a href="/">
            <i class="material-icons">apps</i>
            <div class="logo">
                {{!-- <img src="/images/logo-btp.png" alt="apdl.ca"> --}}
                {{#if global.name.wordone }}
                <b>{{globalVars.name.wordone}}{{globalVars.name.wordtwo}}</b>
                {{else}}
                <b>Menu</b>
                {{/if}}
            </div>


        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/admin/global">
            <i class="material-icons">battery_charging_full</i>Initial Configuration</a>
    </li>



    <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="content_dropdown"><i
                class="material-icons right">arrow_drop_down</i>Content Management

        </a>
    </li>





    <li class="divider"></li>

    <li>
        <a href="/admin/welcomes">
            <i class="material-icons">subject</i>Home</a>
    </li>

    <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="category_dropdown"> <i
                class="material-icons right">arrow_drop_down</i>Category Management

        </a>
    </li>

    <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="product_dropdown"> <i
                class="material-icons right">arrow_drop_down</i>Product Management

        </a>
    </li>

    <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="services_dropdown"> <i
                class="material-icons right">arrow_drop_down</i>Service Management

        </a>
    </li>



    <li class="divider"></li>
    <li>
        <a href="/geocode">
            <i class="material-icons">edit_location</i>Geo-Location Finder</a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/admin/logout">
            <i class="material-icons">exit_to_app</i>Sign Out</a>
    </li>



    {{else}}

    <li>
        <a href="/">
            <i class="material-icons">apps</i>
            <div class="logo">

                <b>{{globalVars.name.wordone}}{{globalVars.name.wordtwo}}</b>
            </div>


        </a>
    </li>

    <li>
        <a href="/">
            <i class="material-icons">flag</i>
            </i>Home</a>
    </li>




    <li class="divider"></li>



    <li>
        <a href="/products">
            <i class="material-icons">loyalty</i>Product</a>
    </li>

    <li class="divider"></li>


    <li>
        <a href="/services">
            <i class="material-icons">airport_shuttle</i>Service</a>
    </li>



    <li class="divider"></li>

    <li>
        <a href="/about">
            <i class="material-icons">fingerprint</i>
            </i>About Us</a>
    </li>


    <li class="divider"></li>

    <li>
        <a href="/contact-us">
            <i class="material-icons">favorite</i>Contact Us</a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/admin/login">
            <i class="material-icons">exit_to_app</i>Sign In</a>
    </li>

    <li class="divider"></li>





    {{/if}}





</ul>